body {
    background-image: url(/assets/mobile/image-host.jpg);
    // Full background tint -- mobile only
    background-color: rgba(18,23,37,.75);
    background-blend-mode: multiply;

    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 200;

    padding: 1.25rem;

    text-align: center;

}

h1 {
    font-weight: 200;
    text-transform: uppercase;
}


p {
    color: $extraLightBlue;
    line-height: 2;
}

.green-text {
    color: $green;
}

.container {
    display: grid;

    grid-template-areas: 
    "spotify apple google pocket"
    "email email email email"
    "submit submit submit submit";

    align-items: center;

    img {
        width: 90%;
    }
    
}

#spotify {
    grid-area: spotify;
}

#apple {
    grid-area: apple;
}

#google {
    grid-area: google;
}

#pocket {
    grid-area: pocket;
}

#email {
    grid-area: email;
}

#submit {
    grid-area: submit;
}